

.scrolled {
  #filters, #selection, #sessions .heading {
    padding: $base-padding/2 0;
    position: fixed;
    top: 0;
    p, div.sub-title {
      display: none;
    }
  }
  #sessions .heading {
    padding: $base-padding/2;
  }
  #filters {
    .heading {
      padding: $base-padding/2 0 $base-padding $base-padding/2;
      z-index: 50;
    }
  }
  #selection {
    right: -$base-padding/2;
    max-height: 85%;
    padding-bottom: $base-padding*2.5;
    overflow-y: scroll;
    margin-top: $base-padding*2;
    z-index: 250;
    padding-top: $base-padding*2;

    .heading {
      padding: $base-padding/2 $base-padding $base-padding/2 $base-padding*1.5;
      position: fixed;
      top: 0;
      right: 0;
      background-color: $selection-background-color;
      width: 25%;
      z-index: 300;

    }
  }

  #sessions {
    left: 25%;
    .heading {

      margin: 0;
      left: 25%;
      background-color: $session-background-color;
      width: 75%;
      z-index: 200;
    }
    > ul {
      margin-top: $base-padding*10;
    }
  }
}
