

#selection {
  .btn {
    border: none !important;
    color: $body-font-color;
    background-color: transparent;
  }
  .fa {
    color: $body-font-color;
  }
  .fa:hover {
    color: $link-hover-color !important;
  }
  .fa-trash:hover {
    color: $button-warning-color !important;
  }
  ul {
    list-style:none;
    margin:0;
    padding:0;
  }
  .heading {
    @extend .column-heading;
    padding: $base-padding;


    .selections.btn {
      pointer-events: none;
      padding: 0 0 0 $base-padding/2;
      > div {
        display: none;
      }
    }
    span.badge {
      margin-left: 0 !important;
    }
    .tip {
      margin-left: $base-padding/4;
    }
    .actions.export {
      a {
        border-radius: $base-padding/4;
        padding: 5;
        font-size: 0.9em;
        i {
          font-size: $body-font-size;
        }
      }
      a:hover {
        text-decoration: none;
      }
    }
  }
  #overview {
    h3 {
      display: inline-block;
    }
  }

  .selections {
    li {
      background-color: white;
      h6 {
        font-weight: bold;
      }
    }
  }

  .summary {
    @extend .summary-block;
  }

  li {
    margin: 0 0 $base-padding/4 0;
    padding: $base-padding/2;
  }

  h4, h5 {
    color:  #FFF;
  }

  h5 {
    display: inline-block;
    margin: $base-padding/4 $base-padding/2 $base-padding 0;
  }
  h6 {
    margin-bottom: 0;
    span.duration {
      font-family: $body-font;
      font-size: $font-size-small;
    }
  }

  .leftActionButtons{
    float: left;
  }

  .actionButtons {
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    li {
      margin: 0;
      padding: 0;
      border: 0;
    }
    a.print {
      display: block;
    }
  }
}
