// Customise GENERAL STYLES here ************************************

$body-background:     #f8f8f8;
$base-padding:        20px;
$border-style:        1px solid;
$border-color:        #333;

// Customise FONTS and LINKS here **********************************

$body-font:           "Source Sans Pro", Helvetica, Roboto, Arial, sans-serif;
$body-font-size:      16px;
$body-font-color:     #3d393c;
$body-line-height:    20px;

$font-size-smallest:  55%;
$font-size-small:     60%;
$font-size-smaller:   80%;
$font-size-bigger:    110%;
$font-size-medium:    130%;
$font-size-big:       160%;
$font-size-biggest:   500%;

$link-color: #EB3922;
$link-hover-color: #EB3922;
$link-text-decoration: none;
$link-hover-text-decoration: underline;

// Customise HEADER / TOP ROW here **********************************


@mixin header-background() {
  background-color: #000;
}

@mixin headerStyles {
  color: $link-hover-color;
  font-family: "Source Sans Pro", Helvetica, Roboto, Arial, sans-serif;
}

$header-font:             "Source Sans Pro", Helvetica, Roboto, Arial, sans-serif;
$header-font-color:      $body-font-color;

// Customise FILTER / LEFT COLUMN here ********************************

$filter-background-color: #FFF;

// Customise SESSION / MIDDLE COLUMN here *****************************

$session-background-color: #FFF;
$session-left-border-style: 5px solid;
// $session-left-border-color: orange;
$session-left-border-color: #EF604D;

// Customise SELECTION / RIGHT COLUMN here ****************************

$selection-background-color: #FFF;

// Customise FOOTER / LOWER ROW here **********************************

$footer-background: #D8D8D8;
$footer-link-color: #FFF;
$footer-font-color: #FFF;

// Customise PRINT view here *****************************************

$print-font-color:  #000;
$print-font-family: Arial, "Times New Roman";



// Customise BUTTONS and CHECKBOXES here **************************************************

$checkbox-background-color: #FFF;
$button-background-color: #FFF;
$button-background-hover-color: #FFF;
$button-border-style: 1px solid;
$button-color: #599aa6;
$button-hover-color: #EF604D;
$button-warning-color: #EF604D;
$button-warning-hover-color: #EF604D;
$filter-button-color: #000;
$filter-button-border-color: #000;
$filter-button-selected-hover-color: #599aa6;
$badge-background-color: #B0B0B0;
$badge-color: #FFF;
