
@import '~font-awesome/css/font-awesome.min.css';

@import 'partials/variables';
@import 'partials/main';
@import 'partials/base-classes';
@import 'partials/grid';
@import 'partials/buttons';

// Components
@import 'partials/intro';
@import 'partials/filter';
@import 'partials/session';
@import 'partials/selection';
@import 'partials/affix';

// Print
@import 'partials/print';

// Mobile only
@media only screen and (max-width: 992px) {
  @import 'partials/mobile';
}

// Mobile only
@media only screen and (max-width: 1200px) {
  @import 'partials/medium';
}

// Desktop only
@media only screen and (min-width: 993px) {
  @import 'partials/desktop';
}
